In [2]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

base_path = '../input/'

# test files
test_xgb = pd.read_csv(base_path + 'Fork_of_ForK_LightGBM_with_Simple_Features.csv')
test_lgb = pd.read_csv(base_path + 'submission_bayesian_optimization.csv')
test_dnn = pd.read_csv(base_path + 'submission_bayesian_optimization_791.csv')
test_up = pd.read_csv(base_path + 'submission_bayesian_optimization_0792.csv')
test_cat = pd.read_csv(base_path + 'submission_random_search_790.csv')
test_kin = pd.read_csv(base_path + 'submission_with selected_features.csv')
test_gp = pd.read_csv(base_path + 'tidy_xgb_0.78889.csv')
test=pd.read_csv(base_path + 'application_test.csv')

In [5]:
test_xgb.columns

Index(['SK_ID_CURR', 'TARGET'], dtype='object')

In [6]:
test = pd.concat([test, 
                   test_xgb[['TARGET']].rename(columns = {'TARGET' : 'LightGBM'}),
                   test_lgb[['TARGET']].rename(columns = {'TARGET' : 'bayesian'}),
                   test_dnn[['TARGET']].rename(columns = {'TARGET' : 'bayesian791'}),
                   test_up[['TARGET']].rename(columns = {'TARGET' : 'bayesian792'}),
                   test_cat[['TARGET']].rename(columns = {'TARGET' : 'random_search_790'}),
                   test_kin[['TARGET']].rename(columns = {'TARGET' : 'selected_features'}),
                   test_gp[['TARGET']].rename(columns = {'TARGET' : 'tidy_xgb'})                   
                  ], axis = 1)


print(test.head(10))

   SK_ID_CURR NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0      100001         Cash loans           F            N               Y
1      100005         Cash loans           M            N               Y
2      100013         Cash loans           M            Y               Y
3      100028         Cash loans           F            N               Y
4      100038         Cash loans           M            Y               N
5      100042         Cash loans           F            Y               Y
6      100057         Cash loans           M            Y               Y
7      100065         Cash loans           M            N               Y
8      100066         Cash loans           F            N               Y
9      100067         Cash loans           F            Y               Y

   CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE  \
0             0          135000.0    568800.0      20560.5         450000.0
1             0           99000.0    222768.0      17370.0         180000.0
2             0          202500.0    663264.0      69777.0         630000.0
3             2          315000.0   1575000.0      49018.5        1575000.0
4             1          180000.0    625500.0      32067.0         625500.0
5             0          270000.0    959688.0      34600.5         810000.0
6             2          180000.0    499221.0      22117.5         373500.0
7             0          166500.0    180000.0      14220.0         180000.0
8             0          315000.0    364896.0      28957.5         315000.0
9             1          162000.0     45000.0       5337.0          45000.0

     ...    AMT_REQ_CREDIT_BUREAU_MON AMT_REQ_CREDIT_BUREAU_QRT  \
0    ...                          0.0                       0.0
1    ...                          0.0                       0.0
2    ...                          0.0                       1.0
3    ...                          0.0                       0.0
4    ...                          NaN                       NaN
5    ...                          0.0                       1.0
6    ...                          0.0                       0.0
7    ...                          0.0                       0.0
8    ...                          0.0                       0.0
9    ...                          0.0                       0.0

  AMT_REQ_CREDIT_BUREAU_YEAR  LightGBM  bayesian  bayesian791  bayesian792  \
0                        0.0  0.023875  0.271024     0.186019     0.271024
1                        3.0  0.136515  0.639275     0.648692     0.639275
2                        4.0  0.025183  0.161845     0.149366     0.161845
3                        3.0  0.031702  0.331193     0.149173     0.331193
4                        NaN  0.141356  0.641139     0.650217     0.641139
5                        2.0  0.042504  0.352144     0.257020     0.352144
6                        1.0  0.005363  0.064499     0.029829     0.064499
7                        2.0  0.029705  0.156321     0.112658     0.156321
8                        5.0  0.008980  0.114612     0.048473     0.114612
9                        2.0  0.079872  0.308597     0.366520     0.308597

   random_search_790  selected_features  tidy_xgb
0           0.179398           0.036856  0.028827
1           0.594300           0.124812  0.143594
2           0.177534           0.028329  0.025402
3           0.186092           0.034755  0.031125
4           0.621259           0.137967  0.121765
5           0.209069           0.042896  0.031890
6           0.026257           0.006183  0.005994
7           0.119345           0.034353  0.015083
8           0.053645           0.008604  0.012422
9           0.405200           0.072888  0.112953

[10 rows x 128 columns]

In [7]:

train_cols = ['LightGBM', 'bayesian', 'bayesian791', 'bayesian792', 'random_search_790', 'selected_features', 'tidy_xgb']
for t in train_cols:
    test[t + '_rank'] = test[t].rank()

In [9]:
test['TARGET'] = (test['LightGBM'] + test['bayesian'] + test['bayesian791'] + test['bayesian792'] + \
                 test['random_search_790'] + test['selected_features'] + test['tidy_xgb']) / (7 * test.shape[0])

In [10]:
test.head(10)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,selected_features,tidy_xgb,LightGBM_rank,bayesian_rank,bayesian791_rank,bayesian792_rank,random_search_790_rank,selected_features_rank,tidy_xgb_rank,TARGET
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0.036856,0.028827,14501.0,21611.0,20116.0,21611.0,18604.0,21978.0,18016.0,2.922039e-06
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0.124812,0.143594,41758.0,42679.0,44020.0,42679.0,41991.0,40678.0,42106.0,8.576771e-06
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0.028329,0.025402,15334.0,11487.0,16657.0,11487.0,18430.0,17424.0,15991.0,2.138004e-06
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0.034755,0.031125,19377.0,26289.0,16641.0,26289.0,19196.0,20965.0,19270.0,3.209872e-06
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0.137967,0.121765,42118.0,42749.0,44069.0,42749.0,42898.0,41785.0,40321.0,8.659945e-06
5,100042,Cash loans,F,Y,Y,0,270000.0,959688.0,34600.5,810000.0,...,0.042896,0.031890,24607.0,27767.0,25803.0,27767.0,21248.0,24673.0,19699.0,3.773847e-06
6,100057,Cash loans,M,Y,Y,2,180000.0,499221.0,22117.5,373500.0,...,0.006183,0.005994,606.0,2020.0,1390.0,2020.0,845.0,963.0,1405.0,5.938446e-07
7,100065,Cash loans,M,N,Y,0,166500.0,180000.0,14220.0,180000.0,...,0.034353,0.015083,18224.0,10886.0,12520.0,10886.0,12338.0,20755.0,8362.0,1.828171e-06
8,100066,Cash loans,F,N,Y,0,315000.0,364896.0,28957.5,315000.0,...,0.008604,0.012422,2729.0,6667.0,3876.0,6667.0,3930.0,2480.0,6194.0,1.059028e-06
9,100067,Cash loans,F,Y,Y,1,162000.0,45000.0,5337.0,45000.0,...,0.072888,0.112953,34937.0,24606.0,32464.0,24606.0,33848.0,33450.0,39448.0,4.849318e-06

In [12]:
test[['SK_ID_CURR', 'TARGET']].to_csv(base_path + 'rank_avg.csv.gz', index = False, compression = 'gzip')